.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 0;
}

.delete-form {
	display: inline;
}

.center-heading {
	text-align: center;
}

.center-form {
	width: 30%;
	margin: 25px auto;
}
